<html>
    <head>
        <title>
           Single Aricle 
        </title>
    </head>
   <body>
     <h1>
         Single Article View
     </h1>
     <%= request.article.title %>
     <p><%= request.article.content %></p>
   </body>
</html>