<html>
    <head>
        <title>
           Single Product 
        </title>
    </head>
   <body>
     <h1>
         Single Product View
     </h1>
     <%= request.product.name %>
     <p><%= request.product.desc %></p>
   </body>
</html>